{% extends "layout.html" %}

{% block content %}
        <div class="jumbotron">
        <center><h3 class="display-4">UNIVERSIDAD LAICA ELOY ALFARO DE MANABÍ</h3></center>
        <hr class="my-4">
        <table border="0">
            <tr>
                <td>
                    <div class="card" style="width: 10rem;">
                        <center><image src = "{{url_for('static', filename = 'imagenes/lady.jpeg')}}" width="190" height="220" alt=""></center> 
                      </div>
            <h4 class="display-7">Estudiante:</h4>
                <p class="lead">Lady Tatiana Cedeño Mero</p>
            <h4 class="display-7">Curso:</h4>
                <p class="lead">8vo "A"</p>
            <h4 class="display-7">Materia:</h4>
                <p class="lead">Técnicas de Simulación</p>
            <h4 class="display-7">Docente:</h4>
                <p class="lead">Ing. Jorge Moya</p>
                <hr class="my-4">
                <h4 class="display-6">Autora</h4>
            </div>
    </td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
    <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
            
            
    <td>
        <table border="0">
            <tr>
                <td>
                    <div class="card" style="width: 13rem;">
                        <center><image src = "{{url_for('static', filename = 'imagenes/Jose.jpg')}}" width="210" height="220" alt=""></center> 
                      </div>
            <h4 class="display-7">Estudiante:</h4>
                <p class="lead">Kleber Jose Delgado Arcentales</p>
            <h4 class="display-7">Curso:</h4>
                <p class="lead">8vo "A"</p>
            <h4 class="display-7">Materia:</h4>
                <p class="lead">Técnicas de Simulación</p>
            <h4 class="display-7">Docente:</h4>
                <p class="lead">Ing. Jorge Moya</p>
                <hr class="my-4">
                <h4 class="display-6">Autor</h4>
            </div>
    </td>    
    </tr>
    <tr><td>
    </td></tr>
    </table>

    
    

{% endblock%}