{% extends "layout.html" %}

{% block content %}
    <!-- Seccion de Bienvenida -->
    <section class="section-head">
        <div class="jumbotron bg">
          <center><image src = "{{url_for('static', filename = 'imagenes/mcmd.jpg')}}" width="1000" height="300" alt=""></center> 
    </div>
    </section>
<main>
    <section>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                      <span class="card-title center center-align"><h1><center>Formulario</center></h1></span>
                        <div class="row">
    <!----JINJA-----------------Formulario--------------> 
                          <form class="col-md-6 offset-md-3" action="/mcmu" method="post" role="form">
                          <div class="row">
                            <div class="input-field col s11 m5 ">
                              <br>
                              <input id="text" name="num1" class="validate" min="2" max="1000" required>
                              <label for="icon_telephone">N</label> 
                              <br>
                            </div>
                            <div class="input-field col s11 m5">
                              <br>
                              <input  id="text" name="num2" type="text" class="validate" min="2" max="1000" required>
                              <label for="icon_prefix">M</label>
                            </div>
                            <div class="input-field col s11 m5">
                                <br>
                                <input id="text" name="num3" class="validate" pattern="\d{3,4}" required>
                                <label for="icon_telephone">A</label> 
                                <br>
                              </div>
                            <div class="input-field col s11 m5">
                              <br>
                              <input id="text" name="num4" class="validate" pattern="\d{3,4}" required>
                              <label for="icon_telephone">X0</label> 
                              <br>
                            </div>                        
                            <div class="input-field col s11 offset-md-1">
                            <input class="btn btn-danger" onclick="history.back()" name="volver atrás" value="volver atrás">
                              <input class="btn btn-info"value="congruencialmultiplicativo"name="operacion"  type="submit"/> 
                            </div> 
                          </form> 
                          </div>
                        </form>
                
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
        <br>
        <!----JINJA------Tabla de resultados--------------> 
              <section>
                <div class="row">
                  <div class="col s12 m12">
                    <div class="card">
                      <div class="card-content">
                        <form class="col-md-12" action="/mcmu" method="post" role="form">
                          <div class="row">
                            <div class="input-field col s12 m6">
                              <br>
                              <span class="card-title center center-align"><h2><center>Resultado</center></h2></span>
                              <div class="row">
                                <br>
                                <table class="offset-md-1 ">
                                  <table class="table-striped table-bordered bg-white table-sm " WIDTH="225">
                                    <thead>
                                      <tr>
                                        <td><center>Xn</center></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {%for list in axn%}
                                      <tr>
                                        <td>{{list}}</td>
                                      </tr>
                                      {%endfor%}
                                    </tbody>
                                  </table>
                                  <table class="table-striped table-bordered bg-white table-sm " WIDTH="225">
                                    <thead>
                                      <tr>
                                        <td><center>Xo * A</center></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {%for list in xn%}
                                      <tr>
                                        <td>{{list}}</td>
                                      </tr>
                                      {%endfor%}
                                    </tbody>
                                  </table>
                                  <table class="table-striped table-bordered bg-white table-sm " WIDTH="225">
                                    <thead>
                                      <tr>
                                        <td><center>Xo * A Mod M</center></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {%for list in x%}
                                      <tr>
                                        <td>{{list}}</td>
                                      </tr>
                                      {%endfor%}
                                    </tbody>
                                  </table>
                                  <table class="table-striped table-bordered bg-white table-sm" WIDTH="225">
                                    <thead>
                                      <tr>
                                        <td><center>ri</center></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {%for list in r%}
                                      <tr>
                                        <td>{{list}}</td>
                                      </tr>
                                      {%endfor%}
                                    </tbody>
                                  </table>
                                </table>
                              </div>
                            </div>
                          </div>
                        </form>   
                      </div>
                    </div>
                  </div>
                </div>
              </section>
    </main
    {% endblock%}